#cloud-config

ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDXmBraPYRMsCCj0Hw1q73SW8d4hBXcoZMxdifRqVYs4/4GZqaJJbWKRaQ2eRAN6yeHgkAWdsrPx6NBbq12QGRIVpNF6C3eaIVQaU+fdOWepFi9dDbFWymPFspWC1pSwXBl/A3k4JbwyCsaUO7TfjzL4XB3CYjVkopmlvjjQTHBB8sdSm922A/czEK6DAqmDXrU5iDaiauN/dXx2qk9El6dfTyXDFXADgFXN3rMvPGY+V8UPSGUDSkB5K+SjyrtbkP+QaKvavoyHF/k+Tvib7Wp3fZgcBF9vQZ9tTQ22CBd4YJbrUSqMCVNFMpc09WDHw/o15acmUtKdfvbbowdPuyt2mUzkJsj5brfHTs22uHln5Bojs3RcnO74mO8aEIJ0WmbExM/Um4wuBrSOSAxxBsktnVAKkEfb2XtbYLEruyp9z/ycPELBf4iaES3pgbBVogvX+cq8TPSOSu7x8hM3+Cvkw7j07GhZsmTQEHERKPnHMa+LeaXkKAQOecHPUQZ6HhVDHuEI9agQ0GVufsUs3asOcwIZwXSLvXGymbsgnhogpxU9Cy5CXZtsPfZWSbq5n+OuRDKjT19Eks/8fSenvSuIaDkKZbCuhEwIutvTO3rZmzm/7vFnGA0YTkJX5qKNDgvtPDJJkn2MuEwyRbSCX2CH66WOEfkCE4MJqDthjERBw== richard.towers@digital.cabinet-office.gov.uk

apt_sources:
  - source: "ppa:webupd8team/java"

package_upgrade: true

bootcmd:
  - cloud-init-per once accepted-oracle-license-v1-1 echo "oracle-java8-installer shared/accepted-oracle-license-v1-1 select true" | debconf-set-selections

packages:
  - unzip
  - oracle-java8-installer
  - oracle-java8-set-default

write_files:
  - path: /opt/verify/verify-local-matching-service-example/.env
    content: |
      DB_URI="jdbc:postgresql://${db_endpoint}/verify-connect-db?user=${dbuser}&password=${dbpass}"

  - path: /etc/init/verify-local-matching-service-example.conf
    content: |
      description "Upstart config for Verify Local Matching Service Example"

      start on runlevel [2345]
      stop on starting rc RUNLEVEL=[06]

      kill signal TERM
      kill timeout 30

      setuid ubuntu

      script
        set -a
        . /opt/verify/verify-local-matching-service-example/.env
        set +a
        exec /opt/verify/verify-local-matching-service-example/bin/verify-local-matching-service-example
      end script

runcmd:
 - cd /home/ubuntu
 - curl --silent -LO 'https://github.com/alphagov/verify-local-matching-service-example/releases/download/0.0.1/verify-local-matching-service-example.zip'
 - unzip 'verify-local-matching-service-example.zip'
 - mv verify-local-matching-service-example/* /opt/verify/verify-local-matching-service-example
 - service verify-local-matching-service-example start

final_message: "DONE: cloud-init finished"

