cat <<EOF
SERVICE_ENTITY_IDS='["https://blah"]'
VERIFY_ENVIRONMENT="COMPLIANCE_TOOL"
MSA_ENTITY_ID="https://test-test-test-msa"
MSA_METADATA_URL="http://localhost:50230/metadata"
SAML_SIGNING_KEY="$(openssl base64 -A -in vsp/pki/signing-private-key.pk8)"
SAML_PRIMARY_ENCRYPTION_KEY="$(openssl base64 -A -in vsp/pki/encryption-private-key.pk8)"
EOF
