cat <<EOF
ENTITY_ID="https://verify-relying-party-msa.com"
LMS_MATCH_URL="http://192.168.50.103:50500/match-user"
LMS_UAC_URL="http://example.com/todo/lms/uac/url"
VERIFY_SSO_URL="https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk/SAML2/SSO"
HUB_TRUST_STORE_PATH="/opt/verify/verify-matching-service-adapter/test_ida_hub.ts"
METADATA_URL="https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk/SAML2/metadata/federation"
METADATA_TRUST_STORE_PATH="/opt/verify/verify-matching-service-adapter/test_ida_metadata.ts"

MSA_SIGNING_CERT_PRIMARY="$(openssl base64 -A -in msa/pki/signing-certificate.crt)"
MSA_SIGNING_KEY_PRIMARY="$(openssl base64 -A -in msa/pki/signing-private-key.pk8)"
MSA_ENCRYPTION_CERT_PRIMARY="$(openssl base64 -A -in msa/pki/signing-certificate.crt)"
MSA_ENCRYPTION_KEY_PRIMARY="$(openssl base64 -A -in msa/pki/signing-private-key.pk8)"
EOF

